<h1>Flickr API</h1>

<%= form_for :search, url: "/search", remote: true do |f| %>
  <%= f.label :text %>
  <%= f.text_field :text, required: true %>
  <%= f.select :num_images, [5,10,15,20]%>
  <%= submit_tag "submit" %>
<% end %>
